.reportes-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 20px;
}

.card-grafica {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-grafica h2 {
    margin-bottom: 20px;
}

@media (min-width: 900px) {
    .reportes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
#grafIngresos,
#grafOcupacion {
    width: 100% !important;
    height: 320px !important;
}
